<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/js/**" location="/WEB-INF/resources/js/"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/resources/css/"/>
    <context:component-scan base-package="ben.study.controller"/>
     <!--FreeMarker configuration-->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
    <property name="templateLoaderPath" value="/WEB-INF/views"/>
    <property name="defaultEncoding" value="UTF-8"/>
    <property name="freemarkerSettings">
    <map>
    <entry key="template_update_delay" value="60000"/>
    <entry key="auto_flush" value="false"/>
    <entry key="default_encoding" value="UTF-8"/>
    <entry key="whitespace_stripping" value="true"/>
    </map>
    </property>
    </bean>


    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
    <property name="order" value="2"/>
    <property name="cache" value="true"/>
    <property name="suffix" value=".ftl"/>
    <property name="contentType" value="text/html; charset=UTF-8"/>
    <property name="exposeSpringMacroHelpers" value="true"/>
    </bean>


</beans>
